@font-face {
    font-family: "Adventure Indiana";
    src: url(fonts/adventure_indiana.ttf);
}
article {
    min-height: 100px;
    min-width: 300px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 .5rem 1rem gray;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    background-color: gray;
    min-height: 50px;
}
header {
    background-color: bisque;
    min-height: 50px;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    background-color: #f5f7ee;
    justify-content: center;
}
.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    padding: 20px;
    max-width: 100%;
}
.card {
    height: 300px;
    background-color: azure;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.card > img {
    width: 208px;
}
.imgSection {
    text-align: right;
}
.imgSection > img {
    max-width: 250px;
}
.projectParams {
    display: flex;
    flex-wrap: wrap;
}
.projectParams > div {
    flex: 1;
    padding: 10px;
}
.infoSection > h2 {
    margin: 0 0 5px;
    text-align: center;
    font-family: "Adventure Indiana", Georgia, 'Times New Roman', Times, serif;
}
.infoSection > ul {
    list-style-type: none;
    padding: 0;
}
.propName {
    color: blueviolet;
}
.progressBar {
    height: 20px;
    background-color: darkgray;
    width: 100%;
    border-radius: 5px;
}
.progressValue {
    background-color: blueviolet;
    height: 100%;
    width: 10%;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    padding: 0 2px;
}
