@font-face {
    font-family: "Adventure Indiana";
    src: url(fonts/adventure_indiana.ttf);
}
@font-face {
    font-family: "X Company";
    src: url(fonts/x_company.ttf);
}
@font-face {
    font-family: "New Standard Old";
    src: url(fonts/new_standard_old.ttf);
}
@font-face {
    font-family: Primus;
    src: url(fonts/primus.ttf);
}
article {
    min-height: 100px;
    min-width: 300px;
    width: 100%;
    max-width: 1000px;
    background-color: #B7CB99;
    margin: 20px;
    box-shadow: 0 .5rem 1rem gray;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    background-color: #2A3759;
    min-height: 50px;
}
header {
    background-color: #2A3759;
    min-height: 50px;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    background-color: #778FD2;
    justify-content: center;
}
.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    padding: 20px;
    max-width: 100%;
}
.card {
    height: 300px;
    background-color: #B7CB99;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}
.card > h2 {
    color: #431D32;
    font-family: Primus;
    font-weight: bold;
}
.card > img {
    width: 208px;
}
.cardDescription {
    color: #2A3759;
    font-family: Primus;
    font-weight: bold;
}
.cardAuthor {
    color: white;
    font-family: Primus;
    font-weight: bold;
    font-size: 16px;
}
.imgSection {
    text-align: right;
}
.imgSection > img {
    max-width: 250px;
}
.projectParams {
    display: flex;
    flex-wrap: wrap;
}
.projectParams > div {
    flex: 1;
    padding: 10px;
}
.h2ProjectPage {
    margin: 0 0 5px;
    text-align: center;
    font-family: "New Standard Old", Georgia, 'Times New Roman', Times, serif;
    color: white;  
    font-weight: bold;  
}
.infoSection > ul {
    list-style-type: none;
    padding: 0;
}
.propName {
    color: #3D5220;
    font-family: Primus;
    font-weight: bold;
}
.propValue {
    color: #2A3759;
    font-family: Primus;
    font-weight: bold;
}
.progressBar {
    height: 20px;
    background-color:#B7CB99;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #2A3759;
}
article .progressBar {
    margin-bottom: 15px;
}
article > h1 {
    color: #431D32;
    font-family: "X Company";
    font-weight: bold;
}
.progressValue {
    background-color: #431D32;
    height: 100%;
    width: 10%;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    color: white;
    justify-content: flex-start;
    padding: 0 2px;
    font-family: "New Standard Old";
    font-weight: bold;
}
td {
    border-bottom: 2px dashed whitesmoke;
    text-align: center;
    font-family: Primus;
    font-weight: bold;
    color: #2A3759;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    font-family: Primus;
    font-weight: bold;
    color: #431D32;
}
